html {
  background-color: #48305c;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 0.5px;
  color: #474747;
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.topbar {
  display: block;
  position: fixed;
  padding: 0;
  width: 100%;
  top: -150px;
  height: 75px;
  transition: 500ms;
  background-color: white;
  border-bottom: 1px solid #48305c;
  z-index: 1;
}

.active {
  top: 0;
}

.topbar ul {
  margin: 0;
  display: flex;
  list-style: none;
}

.topbar li {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
}

.topbar ul li a {
  text-decoration: none;
  color: #48305c;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.topbar ul li a:hover {
  text-decoration: none;
  color: #2a1838;
}

.btn-nav {
  position: absolute;
  top: 200px;
  right: 50px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  opacity: 0.8;
  border: none;
  outline: none;
  z-index: 9999;
}

.btn-active {
  top: 100px;
  transition: 0.3s;
}

.btn-nav:hover {
  background: #2a1838;
}

.btn-nav:active {
  background: #2a1838;
}

.btn-nav:focus {
  background: #2a1838;
}

.btn-nav span {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  top: 14px;
  left: 6px;
  position: absolute;
  transition: 500ms;
  background: #48305c;
  z-index: 9999;
}

.btn-nav span:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: #48305c;
  z-index: 9999;
}

.btn span:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: #48305c;
  z-index: 9999;
}

.jumbotron {
  margin: auto;
  background-size: cover;
  background-color: #48305c;
  background-repeat: no-repeat;
  text-align: center;
  height: 1000px;
}

.container-fluid {
  position: relative;
  margin: auto;
}

.container {
  position: relative;
  margin: auto;
}

.home-content {
  text-align: center;
  position: relative;
  display: block;
  padding: 100px 100px;
}

#home .content-inner {
  padding-top: 200px;
  height: auto;
}

section .content-inner {
    overflow: hidden;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.home-text {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 3rem;
    outline: #ffffff solid 2px;
    width: 538px;
    height: 100px;
    text-align: center;
    letter-spacing: 3px;
    padding: 20px;
    display: inline-block;
}

.home-text .fname {
  font-weight: 300;
}

.home-text .lname {
  font-weight: 700;
  opacity: 0.5;
}

#autoplay {
  justify-content: center;
  text-align: center;
  margin: 0;
  display: block;
  width: auto;
  height: 200px !important;
}

#autoplay span {
  text-align: center;
  font-family: 'Yellowtail', cursive;
  font-size: 4em;
  color: #ffffff;
  width: 100% !important;
  left: 0 !important;
}

.heading {
  text-align: center;
  font-family: 'Yellowtail', cursive;
  font-size: 1.8rem;
  padding-bottom: 50px;
  padding-top: 0;
}

.row {
  margin: auto;
  padding-bottom: 5%;
  text-align: center;
}

.row .col-md-4 {
  width: 33.3333333333;
  display: inline-block;
  text-align: center;
  position: relative;
}

.row .col-md-8 {
  width: 65%;
}

.id-photo {
  position: relative;
  display: inline-block;
  margin: 0 auto 40px;
}

#about {
  background-color: #ffffff;
  height: auto;
  padding-bottom:5%;
  font-size: 1.3rem;
}

#about .heading, #experience .heading, #work .heading {
  color: #48305c;
}

#about .container {
  padding: 0 200px 0 200px;
}

#about .col-md-6:nth-child(2) {
  text-align: center;
  padding: 0 10%;
}

#about h3 {
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  color: #48305c;
  letter-spacing: 2px;
}

.contact-btn {
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  transition: .5s;
}

.contact-btn a {
  color: #48305c;
}

.contact-btn a:hover {
  background-color: #e3a2a2;
  color: #ffffff;
  border: 0;
}

#about .btn-outline-primary {
  border: 2px solid #e3a2a2;
}

#skills .heading, #work .heading {
  color: #ffffff;
}

.circle {
  width: 200px;
  margin: auto;
  display: inline-block;
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}

.circle h3 {
  color: #ffffff;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
}

#skills strong {
  position: absolute;
  top: 25%;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 45px;
  font-size: 2.8rem;
  color: #ffffff;
}

svg {
  height: 200px;
  transform: rotate(-90deg);
  /*width: 2;*/
}

.progress-bar__background {
  fill: none;
  stroke: #f1d1d1;
  stroke-width: $progress-bar-stroke-width;
}

.progress-bar__progress {
  fill: none;
  stroke: #f1d1d1;
  stroke: #ffffff;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: $progress-bar-stroke-width;
  transition: stroke-dashoffset 1s ease-in-out;
}

#experience {
  background-color:  #ffffff;
  height: auto;
  font-size: 1.3rem;
}

#experience .experience-block {
  position: relative;
  padding: 5% 0 5% 50%;
  margin: 2em;
  border-bottom: 2px solid #e3a2a2;
}

#experience .experience-block:nth-child(2n) {
  position: relative;
  padding: 5% 50% 5% 0;
  margin: 2em;
  text-align: right;
}

#experience .experience-block:last-child {
  border: 0;
}

#icon, #icon-b {
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: 0 0 0 -35px;
  color:#e3a2a2;
}

#icon {
  left: 25%;
}

#icon-b {
  right: 25%;
}

.date {
  color: #48305c;
  font-size: 1.3rem;
}

.experience-block h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

#services {
  color: #ffffff;
  height: auto;
  padding-bottom: 5%;
}

#services .row {
  padding: 10% 0 5% 0;
}

#services .row:nth-child(2) {
  padding: 5% 0 5% 0;
}

#services .fa {
  margin: 10% auto;
}

#services h3 {
  padding-top: 20%;
}

.hexagon {
  position: relative;
  width: 150px;
  height: 86.60px;
  background-color: rgba(227, 162, 162, 0);
  margin: auto;
  border-left: solid 3px #ffffff;
  border-right: solid 3px #ffffff;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 18.9670px;
}

.hexagon:before {
  top: -53.0330px;
  border-top: solid 4.2426px #ffffff;
  border-right: solid 4.2426px #ffffff;
}

.hexagon:after {
  bottom: -53.0330px;
  border-bottom: solid 4.2426px #ffffff;
  border-left: solid 4.2426px #ffffff;
}

#work {
  display: none;
}

#work {
  background-color: #ffffff;
  height: auto;
  padding-bottom: 5%;
}

#work .heading {
  color: #48305c;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h3 {
  color: #48305c;
  font-size: 3rem;
  font-family: 'Yellowtail', cursive;
  padding-bottom: 3%;
}

.modal-content p {
  font-family: 'Nunito', sans-serif;
}

.modal img {
  width: 50%;
  height: auto;
  padding-top: 3%;
}

#contact {
  height: auto;
  background-color: #ffffff;
  padding-bottom: 5%;
}

#contact .heading {
  color: #48305c;
}

.message-input {
  border-right: 2px solid #48305c;
}

input {
  margin-bottom:10px;
}
textarea {
  height:100px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 1.2rem;
  padding: 15px 10px 10px;
  font-family: 'Nunito', sans-serif;
  border: 1px solid #cecece;
  background: #F3F5F6;
  color:#4c4c4c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}
::-webkit-input-placeholder {
   color: #4c4c4c;
}
:-moz-placeholder {
   color: #4c4c4c;
}
::-moz-placeholder {
   color: #4c4c4c;
}
:-ms-input-placeholder {
   color: #4c4c4c;
}

.submit {
  position: relative;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  margin-left: -30px;
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #48305c;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 70px;
  padding-left: 35px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CBDFE0;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  width: 30%;
  color: #fff;
}
.submit:hover {
  background:#c27777;
}
.button {
  display: inline-block;
   text-align: center;
   margin-left: 55px;
}
.message {
    font-family: 'Nunito', sans-serif;
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}

.social {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #48305c;
  text-align: center;
}

.social h3 {
  padding-bottom: 2%;
}

.social ul {
  width: 50%;
  margin: auto;
  display: flex;
  list-style: none;
  padding: 0;
}

.social li {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
}

.social li a {
  color: #48305c;
}

.social li a:hover {
  color: #c27777;
}

/* MOBILE */

@media only screen and (max-width: 770px) {

  #autoplay {
    margin: auto;
  }

  #experience {
    width: auto;
  }

  #experience .experience-block {
    width: auto;
  }

  #services .row .col-md-4 {
    padding-bottom: 20%;
  }

  #services .row .col-md-6:last-child {
    padding-bottom: 0;
  }

  #services .row .col-md-6 {
    padding-bottom: 20%;
  }

  #services .row .col-md-4:last-child {
    padding-bottom: 0;
  }

  #contact .message-input {
    text-align: center;
    border-right: 0;
    border-bottom: 2px solid #e3a2a2;
    padding-bottom: 5%;
  }

  .social {
    padding-top: 5%;
  }
}


@media only screen and (max-width: 420px) {

  .topbar {
    display: none;
  }

  .jumbotron {
    height: 700px;
  }

  #about .container {
    padding: 0;
  }

  #home {
    margin: auto;
    justify-content: center;
  }

  #home .content-inner {
    height: 770px;
  }

  #autoplay {
    padding-top: 50px;
  }

  #autoplay span {
    font-size: 2.5em;
  }

  .home-content {
    padding: 0;
  }

  .home-text {
    font-size: 1.5rem;
    margin: auto;
    display: inline;
  }

  #about .container {
    position: relative;
    margin: auto;
    padding: 0;
  }


  #experience #icon, #icon-b {
    display: none;
  }

  #experience .experience-block:nth-child(2n) {
    margin: auto;
    padding: 10px;
  }

  #experience .experience-block {
    margin: auto;
    padding: 10px;
  }

  #experience .experience-block-content {
    justify-content: center;
  }

  #services .row .col-xs-12 {
    padding-bottom: 20%;
  }

  #services .row .col-xs-12:last-child {
    padding-bottom: 5%;
  }

  #contact .message-input {
    text-align: center;
    border-right: 0;
    border-bottom: 2px solid #e3a2a2;
  }

  #contact .submit {
    width: 100%;
  }
}
